
h1 {
    width: max-content;
    margin: 4vw auto;
    color: white;
    font-size: 5em;
    text-decoration: underline;
}

body {
    background-color: lightcoral;
}

table {
    width: max-content;
    margin: 4.5vw auto;
    background-color: white;
    border-spacing: 0;
    border-collapse: collapse;
}

tr {
    color: lightcoral;
    padding: 2px;
}

td {
    text-align: center;
    min-width: 100px;
    color: inherit;
    font-size: calc(16px + 0.4vw);
    padding: 5px;
}

a {
    text-decoration: none;
    color: lightcoral;
}

.dark-row {
    background-color: lightpink;
    color: white;
}

.dark-col {
    color: white;
    background-color: lightpink;
}

.first-col {
    border-right: 2px solid lightcoral;
}

.first-row {
    border-bottom: 2px solid lightcoral;
}

.column-div {
    margin: 2vw;
}

.simple-center {
    width: max-content;
    margin: auto;
}

.to-do-table {
    width: 90vw;
    margin: 0;
}

.to-do-table tr:nth-child(even) {
    background-color: lightpink;
    color: white;
}

.to-do-table tr:first-child {
    border-bottom: 2px solid lightcoral;
}

#left-link {
    background-color: white;
    font-size: 3em;
    padding: 10px;
    border: 4px solid lightpink;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

#right-link {
    background-color: white;
    font-size: 3em;
    padding: 10px;
    border: 4px solid lightpink;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

#main-nav {
    width: max-content;
    margin: 30vh auto;
}

#home-nav {
    width: max-content;
    margin: 0 auto;
}

@media only screen and (min-width: 1000px) {
    .column-div {
        float: left;
    }

    .to-do-table {
        width: 35vw;
    }
}

@media only screen and (max-width: 1600px) {
    .vertical {
        display: -ms-grid;
        -ms-grid-rows: auto auto;
        -ms-grid-columns: auto auto;

    }

    .vertical tbody {
        -ms-grid-row: 2;
        -ms-grid-column: 2;

    }

    @supports (display: grid) {
        .vertical {
            display: grid;
            grid-template-columns: min-content min-content;
            grid-template-rows: auto auto;
        }

        .vertical tbody {
            grid-area: body;
        }

    }

    .vertical tbody {
        display: flex;

    }

    .vertical tr {
        width: 17vw;
        padding: 0;
    }

    .vertical td {
        display: block;
        height: max-content;
        min-height: 26px;
    }

    .first-row {
        max-width: min-content;
    }

    .first-row td{
        padding-right: 0;
        padding-left: 0;
        max-width: 80px;
        min-width: 80px;
    }

    .first-row td:first-child {
        border-bottom: 5px solid lightcoral;
    }

    .first-col {
        border-right: 0;
        border-bottom: 5px solid lightcoral;
    }

}
